table, th, td{
    border: solid 1px;
}

th{
    font-family: sans-serif;
    font-size: 25px;
}

tr{
    height: 65px;
}

.nested tr{
    height: 32px;
}

td{
    width: 65px;
    font-family: sans-serif;
    font-size: 12px;
}

.upper{
    vertical-align: top;
}

.middle{
    vertical-align: middle;
}

.bottom{
    vertical-align: bottom;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}